.articles_wrapper {
  background-color: #f6f6f4;
  .articles_container {
    padding-top: 2.4rem;
    padding-bottom: 4rem;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 8rem calc(100% - 8rem);
    -ms-grid-columns: 8rem calc(100% - 8rem);
    grid-template-rows: minmax(27rem,auto) 1fr;
    -ms-grid-rows: minmax(27rem,auto) 1fr;
    max-width: 128rem;
    width: calc(100% - 5rem);
    margin-right: auto;
    margin-left: auto;
    .articles_stickyMenu {
      position: -webkit-sticky;
      position: sticky;
      top: 20vh;
      will-change: transform;
      margin-top: -2rem;
      .it-Actions_item {
        font-size: 3.2rem;
        margin-right: 2.4rem;
        margin-bottom: 1.6rem;
        transition: color .1s ease-out,background-color .1s ease-out;
        .it-Actions_likeCount {
          position: absolute;
          top: -3rem;
          font-size: 1.6rem;
          font-weight: 700;
          cursor: pointer;
          color: #F4AC5A;
        }
      }
      .it-Actions_item-like {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        font-size: 2.4rem;
        position: relative;
        button {
          height: 100%;
          width: 100%;
          font-size: 2rem;
          color: #F4AC5A;
          background-color: #fff;
          border: 0.2rem solid #F4AC5A;
          border-radius: 50%;
          outline: none;
          cursor: pointer;
        }
        button:focus {
          outline:0;
        }
        .article-unlike-button{
          color: #FFF;
          background-color: #F4AC5A;
          cursor: pointer;
        }
      }
      .it-Actions_item-favorite {
        width: 5rem;
        height: 5rem;
        color: #fff;
        font-size: 2.1rem;
        button {
          cursor: pointer;
          height: 100%;
          width: 100%;
          font-size: 2rem;
          background-color: #777;
          border: 0.1rem solid #777;
          border-radius: 50%;
          color: #fff;
        }
        button:focus {
          outline:0;
        }
        .article-unfavorite-button{
          background-color: #F4AC5A;
          border: 0.1rem solid #F4AC5A;
          .fas.fa-star {
            color:#FFFF01;
          }
        }

      }
      .it-Actions_jumpToCommentButton {
        margin-top: 4.5rem;
        margin-left: 0.8rem;
        margin-right: 3.4rem;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #aaa;
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        .it-Actions_commentCount {
          position: absolute;
          top: -2.6rem;
          font-size: 1.6rem;
          font-weight: 700;
          cursor: pointer;
          color: #aaa;
        }
      }
      .SocialMediaShareButton{
        margin-top: 1.6rem;
        margin-right: 3.2rem;
        margin-left: 0.8rem;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #aaa;
        font-size: 1.8rem;
        cursor: pointer;
      }
    }
    .articles_main {
      grid-column: 2 / 3;
      -ms-grid-column: 2;
      grid-row: 1 / 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      padding: 1.6rem 15rem;
      .articles_article {
        background-color: #fff;
        padding: 3.2rem;
        .it-Header {
          color: #333;
          margin-bottom: 4rem;
          .u-flex-center-between {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .it-Header_info {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: flex-start;
              width: 100%;
              .it-Header_author {
                display: flex;
                align-items: center;
                margin-right: 1.6rem;
                a{
                  color: inherit;
                  text-decoration: none;
                }
                a:hover{
                  text-decoration: underline solid; 
                }
                .it-Header_authorImage {
                  display: flex;
                  overflow: hidden;
                  border-radius: 0.5rem;
                  width: 3.2rem;
                  height: 3.2rem;
                  margin-right: 0.8rem;
                }
                .it-Header_authorName {
                  font-size: 2rem;
                  color: inherit;
                }
              }
              .it-Header_time {
                color: #999;
                font-size: 1.4rem;
                margin-right: 1.6rem;
              }
              .it-Header_meta {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1;
                .it-Header_manipulate {
                  display: flex;
                  align-items: center;
                  margin-left: auto;
                  .it-Header_dropdown {
                    position: relative;
                    cursor: pointer;
                    .it-Header_dropdownToggle {
                      color: #999;
                      .fa-lg {
                        font-size: 1.33333em;
                        line-height: .75em;
                        vertical-align: -15%;
                      }
                    }
                    .it-Header_dropdown .st-Dropdown {
                      top: 2.4rem;
                      width: 25rem;
                      .it-Header_dropdown-title {
                        color: #999;
                        font-size: 1.2rem;
                        margin-top: 1.2rem;
                        margin-bottom: 0.8rem;
                        margin-left: 0.8rem;
                      }
                      .st-Dropdown_item {
                        display: block;
                        font-size: 1.2rem;
                        font-weight: 400;
                        padding: 1.2rem 1.6rem;
                        color: #555;
                        cursor: pointer;
                        .pr-1 {
                          padding-right: 0.8rem;
                        }
                        .fa-fw {
                          width: 1.28571em;
                          text-align: center;
                        }
                        .fa {
                          display: inline-block;
                          font: normal normal normal 1.4rem/1 FontAwesome;
                          font-size: inherit;
                          text-rendering: auto;
                          -webkit-font-smoothing: antialiased;
                          -moz-osx-font-smoothing: grayscale;
                        }
                        .st-Dropdown_separator {
                          width: 100%;
                          height: 0.1rem;
                          margin: 0.4rem 0;
                          background-color: #ddd;
                        }
                      }
                    }
                  }
                }
                .st-Modal {
                  display: none;
                }
              }
            }
          }
          .it-Header_title {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1.6rem;
            font-feature-settings: "palt";
            line-height: 1.4;
          }
          .it-Tags {
            display: flex;
            flex-wrap: wrap;
            .it-Tags_item:not(:last-child) {
              margin-right: 0.8rem;
            }
            .it-Tags_item {
              display: flex;
              align-items: center;
              background-color: #eee;
              color: #666;
              padding: 0.4rem 0.8rem;
              border-radius: 0.4rem;
              margin-bottom: 0.4rem;
            }
          }
        }
        .it-MdContent {
          font-size: 1.8rem;
          color: #333;
          word-wrap: break-word;
          word-break: break-all;
          .it-MdContent>:first-child {
            margin-top: 0;
          }
          img{
            margin: 1.5em 0;
            max-width: 100%;
            width:100%;
          }
          p{
            line-height: 1.9;
          }
        }
        .article-user-link {
          margin-top: 5rem;
          display: flex;
          font-size: 1.6rem;
          p {
            margin: 0 0.5rem;
          }
        }
        .it-Footer {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 6.4rem;
          margin-bottom: 2.4rem;
          .it-Footer_actions{
            display: flex;
            flex-wrap: wrap;
            .it-Footer_favorite {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              height: 3.2rem;
              margin-right: 0.8rem;
              margin-bottom: 1.6rem;
              button {
                color: #fff;
                background-color: #777;
                font-size: 1.6rem;
                height: 100%;
                padding: 0 0.8rem;
                outline: none;
                cursor: pointer;
              }
              .it-Footer_favorite button .fa {
                margin-right: 0.4rem;
              }
              .it-Footer_favoriteLabel {
                font-size: 1.4rem;
              }
              .article-unfavorite-button{
                background-color: #F4AC5A;
                border: 0.1rem solid #F4AC5A;
                .fas.fa-star {
                  color:#FFFF01;
                  padding-top: 0.4rem;
                  padding-left: 0.2rem;
                }
              }
            }
            .it-Footer_like {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              height: 3.2rem;
              margin-right: 0.8rem;
              margin-bottom: 1.6rem;
              .LikeButton {
                display: flex;
              .p-button {
                flex-grow: 1;
                min-width: 8.5rem;
                height: 3.2rem;
                color: #F4AC5A;
                background-color: #fff;
                border: 0.1rem solid #ccc;
                border-radius: .2em;
                transition: background-color .1s ease-out,color .1s ease-out;
                font-size: 1.4rem;
                cursor: pointer;
                .it-Footer_like button .fa {
                  margin-right: 0.4rem;
                }
                .it-Footer_likeLabel {
                  font-size: 1.4rem;
                }
              }
              .article-unlike-button{
                color: #FFF;
                background-color: #F4AC5A;
              }
              .LikeButton__balloon {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 4rem;
                padding: 0 1rem;
                margin-left: 0.8rem;
                font-size: 1.2em;
                color: #333;
                background-color: #fff;
                border: 0.1rem solid #ccc;
                border-radius: 0.3rem;
              }
              .LikeButton__balloon:before {
                top: 30%;
                left: -0.5rem;
                border-top: 0.5rem solid transparent;
                border-right: 0.5rem solid #ccc;
                border-bottom: 0.5rem solid transparent;
              }
              .LikeButton__balloon:before, .LikeButton__balloon:after {
                position: absolute;
                content: '';
              }
              .LikeButton__balloon:after {
                top: 34%;
                left: -0.4rem;
                border-top: 0.4rem solid transparent;
                border-right: 0.4rem solid #fff;
                border-bottom: 0.4rem solid transparent;
              }
              .it-Footer_likeCount {
                color: #55c500;
                font-weight: 700;
                margin-left: 0.8rem;
              }
            }
            .it-Footer_shareButton {
              margin-left: 0.8rem;
              width: 3.2rem;
              height: 3.2rem;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              background-color: #aaa;
              font-size: 1.8rem;
              cursor: pointer;
            }
            }
          }
          .it-Footer_social {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 0 auto;
            .it-Footer_shareButton-twitter{
              margin-top: 0.8rem;
              margin-right: 0.4rem;
              margin-left: 0.8rem;
              width: 3.2rem;
              height: 3.2rem;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              background-color: #aaa;
              font-size: 1.8rem;
              cursor: pointer;
            }
            .it-Footer_shareButton-facebook{
              margin-top: 0.8rem;
              margin-right: 3.2rem;
              margin-left: 0.8rem;
              width: 3.2rem;
              height: 3.2rem;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              background-color: #aaa;
              font-size: 1.8rem;
              cursor: pointer;
            }
          }
        }
        .ai-Container {
          width: 100%;
          padding-top: 4rem;
          border-top: 0.1rem solid #ddd;
          .ai-User {
            width: 100%;
            margin-right: 1.6rem;
            word-wrap: break-word;
            .ai-User_image {
              overflow: hidden;
              border-radius: 1rem;
              width: 6rem;
              height: 6rem;
              margin-right: 1.6rem;
            }
            .ai-User_header {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              margin-bottom: 0.8rem;
              .ai-User_name{
                color: inherit;
                font-size: 1.8rem;
                font-weight: 700;
                margin-right: 0.8rem;
                a{
                  color:#14171A;
                }
              }
              .ai-User_urlname {
                font-size: 1.7rem;
                margin-right: 0.8rem;
                a{
                  color: #657786;
                }
              }
              .ai-User_organization {
                width: 2.4rem;
                height: 2.4rem;
                border: 0.1rem solid #ddd;
                margin-right: 0.8rem;
              }
            .ai-User_description {
              font-size: 1.4rem;
              color: #777;
              margin: 0.4rem 0;

            }
            }
            .ai-User_footer {
              margin: 1.6rem 0 0 auto;
              display: flex;
              align-items: center;
                .userFollowButton {
                  display: inline-block;
                  -webkit-appearance: button;
                  width: 12rem;
                  text-align: center;
                  margin:0 1.6rem 0 auto;
                  cursor: pointer;
                .btn{
                  font-size: 1.4rem;
                  border: none;
                }
                .btn-default{
                  border: 0.1rem solid ;
                  border-color: #ccc;
                }
                .btn-primary{
                  background-color: #F4AC5A;
                }
                
              }
            }
          }
          .ai-Organization {
            display: flex;
            width: 100%;
            word-wrap: break-word;
          }
        }
      }
  }
  .articles_options {
    grid-column: 3 / 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-row: 1 / 2;
    -ms-grid-row: 1;
    .mt-2 {
      margin-top: 1.6rem;
      .ad-300x250 {
        width: 30rem;
        height: 25rem;
      }
    }
    }
  .articles_toc {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    will-change: transform;
    .mt-2 {
      margin-top: 1.6rem;
      .ad-300x250 {
        width: 30rem;
        height: 25rem;
      }
    }
    .it-Toc {
      margin-top: 0.8rem;
      .it-Toc_nav {
        overflow-y: auto;
        max-height: 70vh;
        font-size: 1.4rem;
        ul {
          list-style: none;
        }
        li {
          list-style-type: none;
          margin: 0.4rem 0;
        }
        a {
          display: block;
          padding: 0.4rem 0.8rem;
          color: #85837a;
          text-decoration: none;
          line-height: 1;
        }
        a.focus {
          background-color: #efefef;
          color: #333;
        }
      }
    }
    }
    .articles_toc, .articles_rightDummy {
      width: 30rem;
      grid-column: 3 / 4;
      -ms-grid-column: 3;
      -ms-grid-column-span: 4;
      grid-row: 2 / 3;
      -ms-grid-row: 2;
      -ms-grid-row-span: 3;
      max-height: 100vh;
  }
  .p-button:focus{
    outline:0;
  }
  .commentList {
    .comment {
      .commentHeader {
        display: flex;
        .commentHeader_creator {
          display: flex;
          .commentHeader_creatorIcon {
            img {
              width: 4rem;
              height: 4rem;
              border-radius: 0.3rem;
            }
          }
          .commentHeader_creatorInfo {
            margin-left: 1rem;
            .commentHeader_publicUrlName {
              display: block;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.5rem;
            }
          }
        }
        .commentHeader_metadata {
          width: 100%;
          font-size: 1.2rem;
          padding-top: 0.4rem;
        }
      }
      .comment_content {
        border-radius: 0.3rem;
        position: relative;
        background-color: #fff;
        border: solid 0.1rem #ccc;
        padding: 1.8rem 3.2rem;
        margin-top: 1.1rem;
        margin-bottom: 2.5rem;
        .it-MdContent {
          font-size: 1.8rem;
          color: #333;
          word-wrap: break-word;
          word-break: break-all;
          img {
            width: 100%;
          }
        }
      }
      .comment_content:before {
        bottom: 100%;
        left: 1.3rem;
        border: solid transparent;
        border-bottom: 0.5rem solid #ccc;
        border-width: 0.7rem;
      }
      .comment_content:before, .comment_content:after {
        position: absolute;
        content: '';
      }
      .comment_content:after {
        bottom: 100%;
        left: 1.4rem;
        border: solid transparent;
        border-bottom: 0.4rem solid #fff;
        border-width: 0.6rem;
      }
    }
    .commentForm {
      margin-bottom: 2rem;
      .commentForm_header {
        margin-bottom: 1rem;
        img {
          width: 4rem;
          height: 4rem;
          border-radius: 0.3rem;
        }
        .commentForm_headerLabel {
          display: inline-block;
          text-align:center;
          line-height: 3.6rem;
          font-size: 1.5rem;
          font-weight: 700;
          margin-top: 0;
          margin-left: 1rem;
        }
      }
      .commentForm_contentHeader {
        border-top-right-radius: 0.3rem;
        border-top-left-radius: 0.3rem;
        background-color: #fafafa;
        border: 0.1rem solid #ccc;
        border-bottom: 0;
        position: relative;
        .commentForm_tabs {
          display: inline-block;
          .commentForm_tab {
            display: inline-block;
            padding: 1rem 2rem;
            font-size: 1.3rem;
            color: #aaa;
            cursor: pointer;
            line-height: 2rem;
          }
          .commentForm_tab.active:first-child {
            border-top-left-radius: 0.3rem;
          }
          .commentForm_tab.active {
            color: #666;
            background-color: #fff;
          }
          .commentForm_tab:hover {
            text-decoration: none;
          }
        }

      }
      .commentForm_body {
        padding: 0.5rem 0.5rem 0;
        border: 0.1rem solid #ccc;
        border-top: 0;
        border-bottom: 0;
        background-color: #fff;
        .form-control {
          height: auto;
          padding: 0;
          box-sizing: border-box;
          textarea {
            border: none;
            width: 100%;
            font-size: 1.5rem;
            height: 20rem;
            resize: none;
            word-break: break-word;
          }
          .preview-area {
            font-size: 1.5rem;
            min-height: 20rem;
            max-height: 50rem;
            word-break: break-word;
            overflow: scroll;
            padding: 0.2rem;
            margin-bottom: 0.4rem;
            img {
              width: 100%;
            }
          }
          .commentForm_area:focus{
            outline: none;
          }
        }
      }
      .commentForm_imageUploader {
        border-bottom-right-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        position: relative;
        height: 4.6rem;
        padding: 1rem 0.5rem;
        border: solid 0.1rem #ccc;
        border-top: 0;
        background-color: #fff;
        margin: 0;
        color: #999;
        font-size: 1.3rem;
        .commentForm_imageUploader-button {
          margin-right: 0.5rem;
          padding: 0.5rem 0.8rem;
          font-size: 1.3rem;
          color: #555;
          line-height: 1;
          border: solid 0.1rem #ccc;
        }
        .commentForm_btns {
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          margin: 0.3rem 0.5rem 0 0;
          .btn-primary {
            min-width: 7rem;
            font-size: 1.4rem;
            padding: 0.3rem 0.7rem;
            border-radius: 0.3rem;
          }
        }
      }
    }
  }

 //画面サイズごとの出し分け
@media (max-width: 1200px){
  .articles_stickyMenu, .articles_leftDummy {
    display: none;
  }
  .articles_container {
    grid-template-columns: 8rem calc(100% - 8rem - 30rem) 30rem;
    -ms-grid-columns: 8rem calc(100% - 8rem - 30rem) 30rem;
    max-width: 100rem;
    width: auto;
  }
  .articles_main {
    grid-column: 1 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}
@media (max-width: 991px){
  .articles_wrapper .articles_article {
    max-width: 72rem;
    margin: 0 auto;
  }
  .articles_options, .articles_wrapper .articles_toc, .articles_wrapper .articles_rightDummy {
    display: none;
  }
  .articles_main {
    grid-column: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    padding: 1.6rem;
  }
  .articles_stickyMenu, .articles_leftDummy {
    margin-left: 1.6rem;
    width: 7.4rem;
  }
}
@media (max-width: 770px){
  .articles_wrapper .articles_article {
    padding: 1.6rem 1.6rem 3.2rem;
    margin: 0 0.8rem;
  }
  .articles_main {
    padding: 1.6rem;
  }
  .articles_container {
    display: block;
  }
}
}
}
